[Unit]
Description=HWS automatic MoneyBird concept invoices
After=network.target

[Service]
Type=oneshot
User=www-data
Group=www-data
WorkingDirectory=/srv/overzicht
EnvironmentFile=/srv/overzicht/.env
ExecStartPre=/srv/overzicht/.venv/bin/python manage.py init_storage
ExecStart=/srv/overzicht/.venv/bin/python manage.py process_automatic_invoices
