[Unit]
Description=Overzicht Django app via Gunicorn
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/srv/overzicht
EnvironmentFile=/srv/overzicht/.env
ExecStart=/srv/overzicht/scripts/start.sh \
    --workers 2 \
    --threads 2 \
    --bind 127.0.0.1:8011 \
    --access-logfile - \
    --error-logfile - \
    --timeout 7200
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
